BOT_TOKEN=PASTE_YOUR_BOT_TOKEN_HERE
TARGET_USER_ID=6056988812
VERCEL_PROJECT_URL=https://YOUR-PROJECT.vercel.app
# Опционально: свой инстанс Cobalt для еще более быстрого скачивания
# COBALT_API_URL=https://api.cobalt.tools
